/* Estilos base */
.nav {
  font-size: 15px;
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

/* Estilos para pantallas m치s peque침as */


/* Ajuste adicional para pantallas m치s peque침as (440px o menos) */


.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #dad4d4;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #b1319b;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav a.current,
.nav a:hover {
  color: #802a59;
  font-weight: bold;
}

.nav .container .logo {
  font-size: 20px;
  text-align: auto;
}
