*{
  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
}

