@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&family=Shadows+Into+Light&display=swap');
*{
  
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Shadows Into Light', cursive;


    /* font-family: monospace; */
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
}

